body{
 background-image: linear-gradient(white, green);
}
.link a{
float: right;
font-size: 150%;
color: #4D90FE;
padding-left:3%;
text-decoration: none;
}
.container{
padding: 2%;
display: grid;
}
.logo img{
width: 35%;
height: auto;
padding-left: 30%;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: ". . . ." ". logo title ." ". search search .";
}

.logo { 
grid-area: logo;
}

.title { 
grid-area: title;
color: #4D90FE;
padding-top: 9%;
padding-right: 20%;
}

.search { 
grid-area: search;
padding-top: 2%;
}
.line{
width: 20%;    
}

h3{
color: #4D90FE;
padding-top: 3%;
padding-left: 45%;
}
.btn-group button {
  background-color: #2980b9;
  border: 1px solid #000;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}

/* Clear floats (clearfix hack) */
.btn-group:after,.btn-center:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child), .btn-center button:not(:last-child){
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover,.btn-center button:hover{
  background-color: #3498db;
}
.btn-group a,.btn-center a{
color: white;
text-decoration: none;
}
.btn-center button {
    background-color: #2980b9;
    border: 1px solid #000;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}
@media only screen and (max-device-width: 480px) {
.link a{
float: right;
font-size: 100%;
color: #4D90FE;
padding-left:3%;
text-decoration: none;
}
.search { grid-area: search; 
padding-bottom: 10%;
}
.title { grid-area: title; 
	font-size:60%;
}
.logo img {
	width: 35%;
	height: auto;
	padding-left: 30%;
	padding-top: 25%;
}
}
